


/* Frame 1 */
.nav {
box-sizing: border-box;

position: absolute;
width: 1433px;
height: 91px;
left: 0px;
top: 0px;

background: #F5F5F5;
border: 1px solid #000000;
}


/* Frame 4 */

/* Auto layout */
.nav content {

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 180px;

position: absolute;
width: 1310px;
height: 91px;
left: 51px;
top: 0px;
background-color: #ec2b2b;
}
.nav div {

width: 77px;
height: 33px;
order: 0;
flex-grow: 0;
}