/* .nav {
    display: flex; 
    align-items: center;
    background-color: rgb(223, 247, 247);
    list-style: none;
    align-content: space-between;
    justify-content: center;
    width: 100%;
    margin: 0;
    overflow: hidden;
    margin-top: 0%;
  
 
     
 }
 .nav-item {
    padding: 5px;
    margin: 25px;
 } */

.hero {
    display: flex;
    padding: 70px;
}
.herotext {
    display: flex;
    padding-left: 3pc;
    flex-direction: column;
    padding-top: 5em;
    font-family: 'Bodoni Moda';
}
.herotitle {
    color: #4ab6c5;
}
.body {
    font-family: 'Bodoni Moda', serif;
    margin: 0%;
   }

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: auto;  
    justify-content: center;
    color: #ffffff;

    
}
.container>div {
    display: flex;
   
}
.gallerystyle {
    background-color: #f8dce2;
    height: 200px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
   


    
}
.footer {
    display: block;
    background-color: rgb(223, 247, 247);
    height: 80px;
    width: 100vw;
    margin-top: 60px;
    
}
.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 102px;
    padding-bottom: 100px;
}
.social>div {
    background-color: #f8dce2;
    height: 200px;
    width: 300px;
    margin: 10px;

}
.Follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    
}

  
@media only screen and (max-width: 1131px) {
        /* For mobile phones: */
        .social {
          width: 100%;
          display: block;
        }
        #logo {
            float: left;
            width: fit-content;
        }
        .social>div {
            width: auto;
            margin: 20px;
           
        }
   
       
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
    }
  }
@media (max-width: 1502px) {
    .lastpic {
        flex-grow: 1 auto;
        width: auto;
    }

}
@media (max-width:1516px) {
    .container {
        flex-shrink: 4;
        width: 100%;
    }
     .container {
            background-color: #f8dce2;
            height: fit-content;
            border: solid 1px  #ffff;
        }
}
@media (max-width: 800px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    .herotext {
        align-items: center;
        padding-left: 0%;
    }

    .herop {
       padding-left: 23px;
      
    }

}
@media (max-width: 916px) {
    .container {
        background-color: white;
    }
    
}
/* Nav */
.nav {
    display: flex; 
    align-items: center;
    list-style: none;
    align-content: space-between;
    justify-content: center;
    margin: 0;
    margin-top: 0%;   
 }

a{
text-decoration: none;
}
ul{
list-style: none;
display: flex;
padding: 25px;
margin: 20px;
align-items: center;
align-content: space-between;

}
ul>li {
    margin: 20px;
    padding: 5px;
    font-size: 20px;
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
}
.nav{
    height: 80%;
    background-color: rgb(221, 249, 251);
    overflow: hidden;

}
.menu {
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.menu a:hover{
    background-color: rgb(255, 223, 229);
}
.nav{
    max-height: 70px;
  
}
.log {
    order: 0;
    margin: 5px;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 34px 20px;
    background-color:  rgb(221, 249, 251);
}/* Style label tag */

.hamb-line {
    background: plum;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: plum;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: solid plum;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
    }
    .menu li{
        float: center;
    }
    .menu a:hover{
        background-color: transparent;
   

    }

    .hamb{
        display: none;
    }
    .logo_area {
        height: 100px;
        width: 100px;
    }
  
}
@media (max-width:768px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    ul>li {
        font-size: 16px;
    }
    .logo_area {
      display: none;
    }
    .log {
        order: -1;
    }
    
}