.nav {
    display: flex; 
    align-items: center;
    background-color: rgb(223, 247, 247);
    list-style: none;
    align-content: space-between;
    justify-content: center;
    padding-top: none;
    width: 100%;
    margin: 0;
     
 }
 .nav-link {
    padding: 4em;
}
.hero {
    display: flex;
    padding: 70px;
}
.herotext {
    display: flex;
    padding-left: 3pc;
    flex-direction: column;
    padding-top: 5em;
    font-family: 'Bodoni Moda';
}
.herotitle {
    color: #4ab6c5;
}
.body {
    font-family: 'Bodoni Moda', serif;
    overflow: hidden;
   }

.container {
    display: flex;
    /*grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 40% 30% 20% 20%;
    grid-template-areas: 
    "Picture1 Hobby Picture"
    "Picture2 Squote Picture3"
    "designs Picture4 Portfolio"
    "Collection Collection Collection";
    margin: 20px;
    padding-left: 100px;*/
    flex-wrap: wrap;
    align-items: center;
    padding-left: 80px;
    flex-shrink: 1;
    flex: 1 1 auto;
  
  
   
    
}
.container>div {
    display: flex;
   
}
.gallerystyle {
    background-color: #f8dce2;
    height: 200px;
    width: 300px;
    display: grid;
    
}
.footer {
    display: block;
    background-color: rgb(223, 247, 247);
    height: 80px;
    width: 100vw;
    margin-top: 60px;
    
}
.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 102px;
    width: 1077px;
    height: 202px;
   

}
.social>div {
    background-color: #f8dce2;
    height: 200px;
    width: 300px;
    margin: 10px;

}
.Follow {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}