.nav {
   display: flex; 
   align-items: center;
   background-color: rgb(223, 247, 247);
   list-style: none;
   align-content: space-between;
  justify-content: center;
  padding-top: none;
  width: 100%;
  margin-top: 0;
    
}
@media screen and (min-width:400px){
    .nav {
        flex: none;
    }
    .nav-link {
        justify-content: center;
    }
    
}
.nav-link {
    padding: 4em;
}
.hero {
    display: flex;
    padding: 70px;
}
.herotext {
    display: flex;
    padding-left: 3pc;
    flex-direction: column;
    padding-top: 5em;
    font-family: 'Bodoni Moda';
}
.herotitle {
    color: #4ab6c5;
}
.body {
    font-family: 'Bodoni Moda', serif;
   }

/*#gallery {
    display: grid;
    grid-template-areas:
     "div quote div1 "
     "div2 div3 div4";
     grid-template-rows: 30% 40% 20% 10%;
     grid-template-columns: 500px 400px 800px;

}
#gallery>div {
 padding: 40px;
 height: 300px;
 width: 400px;
 
}*/
.gallery {
    background-color: #f8dce2;

}

/*responsive*/
#gallery {
    border: 1px solid #ccc;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  

  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }