.nav {
    display: flex; 
    align-items: center;
    list-style: none;
    align-content: space-between;
    justify-content: center;
    margin: 0;
    margin-top: 0%;   
 }

a{
text-decoration: none;
}
ul{
list-style: none;
display: flex;
padding: 25px;
margin: 20px;
align-items: center;
align-content: space-between;

}
ul>li {
    margin: 20px;
    padding: 5px;
    font-size: 20px;
}

.header{
    position: sticky;
    top: 0;
    width: 100%;
}
.nav{
    height: 80%;
    background-color: rgb(219, 246, 248);
    overflow: hidden;

}
.menu {
    display: flex;
    padding: 30px;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.menu a:hover{
    background-color: rgb(255, 223, 229);
}
.nav{
    max-height: 70px;
  
}
.log {
    order: 0;
    margin: 5px;
}
/* Menu Icon */
.hamb{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}/* Style label tag */

.hamb-line {
    background: plum;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;

} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
    background: plum;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.hamb-line::before{
    top: 5px;
}
.hamb-line::after{
    top: -5px;
}

.side-menu {
    display: none;
}
/* Toggle menu icon */
.side-menu:checked ~ nav{
    max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
    background: solid plum;
}
.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}
/* Responsiveness */
@media (min-width: 768px) {
    .nav{
        max-height: none;
    }
    .menu li{
        float: center;
    }
    .menu a:hover{
        background-color: transparent;
   

    }

    .hamb{
        display: none;
    }
    .logo_area {
        height: 100px;
        width: 100px;
    }
  
}
@media (max-width:768px) {
    .menu {
        display: flex;
        flex-direction: column;
    }
    ul>li {
        font-size: 16px;
    }
    .logo_area {
      display: none;
    }
    .log {
        order: -1;
    }
    
}